<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap стили -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <!-- иконки fontawesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
    <!-- кастомные стили -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>

<!-- навигация -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Открытый блог</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('posts.Home') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('users.UserProfile') }} "> Обо мне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('users.UserRegister') }}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('users.UserLogin') }}">Вход</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('users.InviteUser', username='test_user') }}">Пригласи друга</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- контент дочерних шаблонов -->
<div class="container my-3">
    {% block content %}
    {% endblock %}
</div>

<div class="footer">
    <style>
        .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(35, 158, 245, 0.55);
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>
        <label class="card-footer"> Сделано Loftven для тренировки или проведения собеседований в IT. Все права не защищены.</label>
        <a class="modal-footer" href="https://github.com/Loftven">Loftven</a>
</div>

</body>
</html>